*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", sans-serif;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 20px;
}

.header-main {
    width: 100%;
    float: left;
    padding: 25px 65px;
    background: #F9FAFF;
}

.header {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-part {
    width: 50%;
    display: flex;
}

.toggle-icon {
    width: auto;
    float: left;
    font-size: 25px;
    margin-right: 30px;
}

.logo {
    width: 100px;
    display: inline-block;
} 

.logo img {
    width: 100%;
}

.right-part {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 20px 5px;
    margin-right: 5px;
}

.navbar ul li a {
    font-size: 15px;
    color: #080337;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 600;
}

.search-btn {
    font-size: 25px;
    padding-left: 5px;
}

.header-btn a {
    background: #ff2e57;
    padding: 15px 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 37px;
    transition: .3s;
}

.header-btn {
    width: auto;
    display: inline-block;
    padding-left: 40px;
}

.header-btn a:hover {
    background: #f51843;
}
.faq-main-section{
    width: 100%;
    float: left;
}
.faq-content{
    width: 100%;
    float: left;
    text-align: center
}
.faq-content h1{
 font-size: 55px;
 margin-bottom: 30px;   
}
.faq-content span{
font-size: 20px;
}
.faq-accordian{
    width: 100%;
    float: left;
}